<p>{{ homeTitle }}</p>
<ng-content></ng-content>
<hr />

<h2>property binding</h2>
<input [value]="myString" />
<input [required]="myBoolean" />
<hr />

<h2>events binding</h2>
<button (click)="alertFunction('passing data to this function')">
  Click Me!
</button>
<hr />

<h2>two-way data binding</h2>
<input [(ngModel)]="personObj.name" />
<input [(ngModel)]="personObj.phoneNo" />
<p>{{ personObj.name }}</p>
<p>{{ personObj.phoneNo }}</p>
<hr />

<h2>custom property binding</h2>
<p>{{ person.name }}</p>
<p>{{ person.phoneNo }}</p>
